/* this nav bar */
* {
    padding: 0;
    margin: 0;

}

#navBar {
    background-color: black;
    height: 60px;
}

button {
    color: white;
    background-color: rgb(222, 158, 9);
}

a {
    text-decoration: none;
    color: white;
    margin-right: 250px;
}

#logo {
    color: rgb(222, 158, 9);
    font-size: 25px;
}




/* this main */
main{
    height:630px;
}
#one {
    background-color: rgba(6, 31, 220,0.3);
    
}

#two {
    background-color: rgba(6, 31, 220,0.5);
    
}

#three {
    background-color: rgba(6, 31, 220,1);
}

.boxes {
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    border:2px solid black;
    display: inline-block;
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}