<<<<<<< HEAD
#box{
    background-color: blue;
    color:white;
}
.heading{
    color:red;
}
button{
    background-color: rgb(225,225);

}

h4{
    text-align: center;
}
#fontstyle{
    font-family:  monospace cursive  fantasy;
=======
#box{
    background-color: blue;
    color:white;
}
.heading{
    color:red;
}
button{
    background-color: rgb(225,225);

}

h4{
    text-align: center;
}
#fontstyle{
    font-family:  monospace cursive  fantasy;
>>>>>>> 82a027a298deea976ef090d118d88b0e49b19eac
}